.home-page-journey {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 80px;
}

.hero-wrapper-journey {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.hero-container-journey {
    width: 85%;
    padding: 80px 60px;
    background: #1C1C1C;
    border: 1px solid #262626;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.hero-content-journey {
    max-width: 70%;
    z-index: 10;
}

.hero-heading-journey {
    color: white;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 24px;
}

.highlight-journey {
    color: #C6FF00;
}

.hero-subtext-journey {
    color: #B3B3B3;
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
}

.hero-button-journey {
    background-color: #C6FF00;
    color: black;
    font-weight: 600;
    padding: 16px 36px;
    font-size: 18px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.hero-button-journey:hover {
    background-color: #b3f000;
}

.image-journey {
    pointer-events: none;
    width: 400px;
    position: absolute;
    z-index: 0;
    top: -50px;
    left: -50px;
}


@media (max-width:1024px) {
    .hero-container-journey {
        padding: 60px 40px;
    }

    .hero-content-journey {
        max-width: 80%;
    }

    .hero-heading-journey {
        font-size: 23px;
    }

    .hero-subtext-journey {
        font-size: 15px;
        max-width: 90%;
    }

    .image-journey {
        width: 300px;
        top: -30px;
        left: -30px;
    }
    .hero-button-journey {
        padding: 12px 24px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .hero-container-journey {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
    }

    .hero-content-journey {
        max-width: 100%;
        text-align: center;
    }

    .hero-heading-journey {
        font-size: 36px;
    }

    .hero-subtext-journey {
        font-size: 16px;
        max-width: 90%;
    }

    .image-journey {
        width: 300px;
        top: -30px;
        left: -30px;
    }

    .hero-button-journey {
        margin-top: 24px; 
    }

    @media (max-width: 480px) {
        .hero-heading-journey {
            font-size: 28px;
        }

        .hero-subtext-journey {
            font-size: 14px;
        }

        .image-journey {
            width: 250px;
            top: -20px;
            left: -20px;
        }

        .hero-button-journey {
            padding: 10px 20px;
            font-size: 14px;
        }
    }
}
