.benefits-section {
    width: 85%;
    margin: 0 auto;
    color: #d1d1d1;
    width: 85%;
    gap: 80px;
}

.benefits-heading {
    font-family: Lexend;
    width: 85%;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}



.highlight {
    font-family: Lexend;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
}

.benefits-subtext {
    font-family: Lexend;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 80px;
    max-width: 45%;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.benefit-card {
    font-family: Lexend;
    font-weight: 300;
    height: 336px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #B3B3B3;
    position: relative;
    overflow: hidden;
    padding: 50px;
    border-radius: 20px 50px 20px 50px;
    background-color: #1c1c1c;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

.benefit-card::before {
    content: "";
    position: absolute;
    top: -70%;
    left: -30%;
    width: 60%;
    height: 60%;
    background: radial-gradient(circle at left, rgba(157, 255, 0, 0.2) 0%, rgba(157, 255, 0, 0) 100%);
    z-index: 0;
    filter: blur(60px);
    opacity: 0.8;
    pointer-events: none;
}


.background-benefit-card {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 1; /* полностью видимая */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  
}

.background-benefit-card {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 1;

  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
               linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-composite: intersect;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
                      linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-composite: destination-in;
}

.benefit-card:hover {
    background-color: #1c1c1c;
    transform: translateY(-4px);
}


.benefit-title {
    font-family: Lexend;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #ffffff;
    z-index: 10;
}

.benefit-description {
    font-family: Lexend;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #B3B3B3;
    max-width: 95%;
    margin-top: 45px;
    
}

.benefit-icon-wrapper {
    position: relative;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
.benefit-title-wrapper {
    flex-wrap: row;
    display: flex;
    justify-content: start;
    align-items: center;
    gap : 30px;
}


.benefit-icon-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(173, 255, 47, 0.4) 0%, rgba(173, 255, 47, 0) 80%);
    border-radius: 50%;
    opacity: 0.8;
    z-index: 0;
}


.benefit-icon {
    border: none !important;
    border-image: none !important;
    background: linear-gradient(180deg,
            rgba(202, 255, 51, 0.1) 0%,
            rgba(202, 255, 51, 0) 46.76%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}


@media (max-width: 1440px) {
    .benefits-grid {
        grid-template-columns: 1fr;
    }

    .benefits-subtext {
        max-width: 100%;
        text-align: center;
    }

    .benefits-heading {
        font-size: 36px;
        text-align: center;
    }

    .benefit-card {
        height: auto;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .benefits-subtext {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .benefit-description {
        font-size: 16px;
    }

    .benefit-title {
        font-size: 20px;
    }

    .benefit-card {
        padding: 25px;
        border-radius: 20px;
    }

    .benefits-section::before,
    .benefits-section::after {
        display: none;
    }

}